body
{
    background-color: #1f1f1f ;
}

body, h1, h2, ul, ol, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.recipename {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ingredients {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("images/ingredients_background.jpg");
}
.instructions{
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("images/instructions_background.png");
}
.recipe h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.recipe ul, .recipe ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .coffee {
    float:left;
  }
  
  img{
    border-radius: 5%;
    border: 7px solid #1f1f1f ;

    
  }

  img:hover {
    transform: translate3d(10px,0px,20px); 
  }
  .recipeimage{
    float:right;
  }